.mg-b-5{
    margin-bottom: 5px;
}

.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-15{
    margin-bottom: 15px;
}
.mg-b-20{
    margin-bottom: 20px;
}

.mg-b-40{
    margin-bottom: 40px;
}

.uppercase{
    text-transform: uppercase;
}

.copitalize{
    text-transform: capitalize;
}

.float-left{
    float: left;
}

.overflow{
    overflow: hidden;
}